services:
  govd-bot:
    image: cameronmckay/govd:latest
    container_name: govd-bot
    restart: unless-stopped
    network_mode: "host"
    env_file:
      - .env
    volumes:
      - ./config.yaml:/app/config.yaml
      - ./cookies:/app/cookies
    depends_on:
      db:
        condition: service_healthy

  db:
    image: mariadb:latest
    container_name: mariadb
    restart: unless-stopped
    environment:
      MARIADB_DATABASE: govd
      MARIADB_USER: govd
      MARIADB_PASSWORD: password
    volumes:
      - db:/var/lib/mysql
    network_mode: "host"
    healthcheck:
      test: ["CMD", "healthcheck.sh", "--connect", "--innodb_initialized"]
      interval: 5s
      timeout: 5s
      retries: 30
      start_period: 10s

volumes:
  db:

